<form>
    <div class="field is-horizontal">
        <div class="field-body">

            <div class="field is-narrow">
                <p class="control">
                    <input class="input" type="number" style="width: 150px" placeholder="Amount">
                </p>
            </div>

            <div class="field">
                <p class="control">
                    <input class="input" type="text" placeholder="Description">
                </p>
            </div>

            <div class="field is-narrow">
                <div class="button is-primary">Add</div>

            </div>

        </div>
    </div>
</form>
